
.box{
 border: solid 2px black;
 font-size: 90px;
 text-align: center;
 
}
.box-1{
 width:50%;
 height:50%;
 font-size: 4em;

}
.box-2{
 width: 50%;
 height: 50%;
 font-size: 3em;
 background-color: orange;
}
