.container-red, .container-green, .container-blue, .container-grey{
text-align: center;
}
.box{
  border: solid 2px black;
  height: 50px;
  background-color: orangered;
  margin: 5px;
}
.container-green{
  background-color: yellowgreen;
  height: 150px;
  border: solid 2px black;
  
}
.square{
  background-color: blue;
  height: 130px;
  border: solid 2px black;
  margin: 5px;
}
.footer{
  background-color: gray;
  height: 150px;
  border: solid 2px black;
}
@media (width < 320px){
 body{
  background-color: red;
 }
  .container-green{
    height: 95px;
  }
  .square{
    width: 95%;
  }
  .container-grey{
    position: relative;
  }
  .footer{
    position: absolute;
    width: 100%;
    height: 75px;
  }
}
@media (320px <= width < 768px) {
 body{
  background-color: orange;
 }
 
.container-grey{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.footer{
  margin: 5px;
  height: 65px;
}
}

@media(width >= 768px){
 body{
  background-color: greenyellow;
}
.box{
  display: inline-block;
  width: 47%;
}

.square{
  width: 30%;
  display: inline-block;
}
.container-grey{
  display: flex;
}
.footer{
width: 50%;
margin: 5px;
}
}