.circle {
 background-color: greenyellow;
 border: solid black 2px;
 border-radius: 13px;
 -webkit-border-radius: 13px;
 -moz-border-radius: 13px;
 -ms-border-radius: 13px;
 -o-border-radius: 13px;
 width: 20px;
 text-align: center;
 position: relative;
}

.box {
 background-color: red;
 border: solid black 2px;
 width: 300px;
 height: 300px;
 margin-left: auto;
 margin-right: auto;
}

.circle-1 {
 top: -10px;
 left: -9px;
}

.circle-2 {
 top: -33px;
 right: -285px;
}

.circle-3 {
 bottom: -245px;
 left: -15px;
}

.circle-4 {
 bottom: -222px;
 right: -290px;
}